.wrapper {
  min-height: 100vh;
  height: 100%;
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 16px;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-bottom: 2rem;
}

.form .subTitle {
  margin-bottom: 1rem;
}

.form .categoryGroup {
  display: flex;
}

.form .categoryGroup > * {
  margin-right: auto;
}

.form .colorItem {
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0);
}

.colorItem:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.colorInput {
  display: flex;
}

.colorInput .colorHex {
  width: 45px;
  height: 45px;
  margin-top: 4px;
  margin-right: 8px;
}

.colorInput select {
  max-width: 200px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 6px;
}

.form .addBtn {
  margin: 2rem 0;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(5, 5, 5);
  color: white;
  border: none;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.addBtn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
}

.details .detail {
  margin-bottom: 1.5rem;
}

.details .detail label {
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  .form .categoryGroup {
    flex-direction: column;
  }

  .form .categoryGroup > * {
    margin-bottom: 1rem;
  }
}
