.wrapper {
  background-color: rgb(235, 235, 235);
  min-height: 100vh;
  height: 100%;
}

.wrapper button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.container {
  font-family: var(--product-font);
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid lightgray;
}

/* 주문페이지 헤드 */
.head {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--logo-font);
  font-size: 2rem;
  cursor: pointer;
}

.head .user {
  display: flex;
  align-items: flex-end;
}

.head .user button {
  padding: 0;
}

.head .user button svg {
  width: 30px;
  height: 30px;
}

/* 주문페이지 메인 영역 */
.main {
  background-color: lightgray;
}

.main h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem 0;
}

.box {
  background-color: white;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title,
.content {
  padding: 1rem;
}

.hide {
  display: none;
}

.topline {
  border-top: 1px solid lightgray;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 주문자정보 */
.notLogin .infoBox,
.address-info .infoBox,
.orderInfo .infoBox {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.notLogin .infoBox:last-child,
.address-info .infoBox:last-child,
.orderInfo .infoBox:last-child {
  margin: 0;
}

.notLogin .infoBox .label,
.address-info .infoBox .label,
.orderInfo .infoBox .label {
  width: 80px;
  flex-shrink: 0;
}

.notLogin .inputBox,
.address-info .inputBox,
.orderInfo .inputBox {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.notLogin .inputBox input,
.address-info .inputBox input,
.orderInfo .inputBox input {
  border: 1px solid lightgray;
  padding: 0.5rem;
  min-width: 50px;
  width: 100%;
  max-width: 650px;
  box-sizing: border-box;
}

.notLogin .inputBox span,
.address-info .inputBox span,
.orderInfo .inputBox span {
  margin: 0 3px;
}

.notLogin input:focus,
.address-info input:focus,
.orderInfo input:focus {
  outline: none;
}

/* 배송방법 */
.delivery {
  border: 1px solid lightgray;
  margin-bottom: 3rem;
}

.delivery h3 {
  background-color: rgb(214, 221, 226);
  font-weight: bold;
}

.delivery > * {
  padding: 1rem;
}

.address-radio {
  margin-bottom: 1.5rem;
}

.address-radio ul {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-info .infoBox.addr .label {
  align-self: flex-start;
  transform: translateY(6px);
}

.address-info .addr .inputBox {
  flex-direction: column;
}

.address-info .addr .inputBox > input {
  margin-top: 0.5rem;
}

.address-info .addr .addr-search {
  align-self: flex-start;
  display: flex;
}

.address-info .addr .addr-search input {
  max-width: 150px;
}

.address-info .addr .addr-search button {
  border: 1px solid lightgray;
  width: 80px;
  margin-left: 0.5rem;
  flex-shrink: 0;
  transition: 0.2s all ease;
}

.address-info .addr .addr-search button:hover {
  border-color: black;
}

.addr-select {
  width: 100%;
}

.addr-select select {
  padding: 0.5rem;
  width: 100%;
}

.addr-select textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
}

/* 주문상품 */
.orderlist ul li {
  margin-bottom: 1rem;
}

/* 결제정보 */
.price-calcBox {
  padding: 0 1rem;
}

.price-calcBox ul li,
.price-resultbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-calcBox ul li {
  margin-bottom: 0.5rem;
  color: gray;
}

.price-resultbox {
  color: black;
  font-size: 1.1rem;
  background-color: rgb(214, 221, 226);
  padding: 1rem;
  margin-top: 1rem;
}

/* 약관 */
.terms .title {
  justify-content: flex-start;
}

.terms .terms-check {
  margin-right: 1rem;
}

.terms .terms-container {
  margin-bottom: 0.5rem;
}

.terms .terms-container:last-child {
  margin-bottom: 0;
}

.terms input,
.terms label {
  cursor: pointer;
}

/* 결제버튼 영역 */
.paymentBox {
  width: 100%;
  background-color: inherit;
  padding: 1rem;
}

.paymentBox .payBtn {
  background-color: rgb(92, 92, 190);
  color: white;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 0;
  cursor: pointer;
  border: 0.5px solid gray;
}

.paymentBox .payBtn:hover {
  border-color: black;
}

@media only screen and (max-width: 480px) {
  .orderInfo .inputBox input {
    padding: 0.5rem 2px;
  }
}
