.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  max-width: 420px;
  width: 100%;
  padding: 4rem 20px;
}

.container .content {
  text-align: center;
}

.container .content h1 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.container .content p {
  color: rgba(0, 0, 0, 0.75);
}

.container .divider {
  margin: 3rem 0 1rem 0;
  color: gray;
}

.container .form {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container .form .input {
  margin: 0.5rem 0;
}

.container .form .terms {
  margin: 3rem 0 2rem 0;
}

.terms .terms-item {
  margin-bottom: 2rem;
}

.terms-item .terms-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.terms-item .terms-title a {
  float: right;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}

.terms-item .terms-title a:hover {
  text-decoration: underline;
}

.terms-item .terms-content {
  max-height: 160px;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.5rem;
}

.terms-item .terms-checkfield {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 500;
}

.terms-checkfield input {
  margin: 0;
  margin-right: 0.5rem;
}

.container .form .registerBtn {
  border: none;
  background-color: rgb(5, 5, 5);
  color: white;
  height: 50px;
  border-radius: 6px;
}

.registerBtn:hover {
  cursor: pointer;
  opacity: 0.75;
}
