{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@libs/*": "./libs",
          "@middlewares/*": "./middlewares",
          "@models/*": "./models",
          "@types/*": "./types",
          "@styles/*": "./styles",
          "@redux/*": "./redux",
          "@api/*": "./pages/api"
        }
      }
    ]
  ]
}
