.content {
  font-family: var(--product-font);
}

.content a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

/* 담긴 상품 */
.tag-container ul {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.basic {
  width: 100px;
  text-align: center;
  flex-shrink: 0;
}

.epic {
  text-align: center;
  min-width: 160px;
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 150px;
}

.product-img {
  width: 100px;
  padding: 0 10px;
}

.product-img img {
  width: 100%;
  cursor: pointer;
}

.product-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.product-info .product-name {
  cursor: pointer;
}

.product-select {
  display: flex;
  flex-direction: column;
}

.product-select button {
  border: 1px solid lightgray;
  background-color: inherit;
  padding: 6px 0;
  margin-bottom: 3px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.product-select button:hover {
  border-color: black;
}

.product-select button:last-child {
  margin-bottom: 0px;
}

/* 상품 컨트롤 */
.controls-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls-container > * :first-child {
  margin-right: 6px;
}

.controls-container button {
  border: 1px solid lightgray;
  background-color: inherit;
  padding: 0.5rem;
  margin-bottom: 3px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.controls-container button:hover {
  border-color: black;
}

.product-option {
  color: gray;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: none;
}

.media2-b {
  display: none;
}

@media only screen and (max-width: 993px) {
  .subTitle,
  .nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .product-option {
    display: block;
  }

  .media1 {
    display: none;
  }

  .product-info {
    align-items: flex-start;
    transform: scale(90%);
  }
}

@media only screen and (max-width: 480px) {
  .media2-n {
    display: none;
  }

  .media2-b {
    margin-top: 1rem;
    display: block;
    flex-direction: row;
  }

  .media2-b button {
    padding: 4px;
  }

  .media2-b button:first-child {
    margin-right: 4px;
  }
}
