.wrapper {
  font-family: var(--product-font);
}

.tableCell {
  padding: 1rem 0;
}

.tableCell.head {
  font-weight: bold;
}

.tableCell.checkbox {
  width: 30px;
}

.tableCell.addressName,
.tableCell.picker {
  width: 100px;
}

.tableCell.phone {
  width: 120px;
}

.tableCell.edit {
  width: 60px;
}

.tableCell.address .media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.tableCell.address .media .block {
  margin: 0 0.5rem;
}

.address-addressName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fix {
  font-size: 0.7rem;
  line-height: 0.7rem;
  border: 1px solid lightgray;
  background-color: rgb(99, 99, 201);
  color: white;
  padding: 3px;
}

/* 버튼박스 */
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 3rem 0;
}

.btn {
  border: 1px solid lightgray;
  color: black;
  cursor: pointer;
  background-color: inherit;
  transition: 0.2s ease all;
  font-family: var(--product-font);
}

.btn:hover {
  border-color: black;
}

.blackBtn {
  background-color: rgb(5, 5, 5);
  color: white;
}

.listBtn {
  font-size: 0.9rem;
  padding: 1rem;
}

.changeBtn {
  padding: 4px 8px;
}

/* 설명박스 */
.desc {
  padding: 3rem 0;
}

.desc ul li {
  display: flex;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-bottom: 0.8rem;
  align-items: center;
  color: gray;
}

.desc-num {
  border: 1px solid lightgray;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding: 2px 4px;
  margin: 0 0.5rem;
  background-color: lightsteelblue;
  color: white;
}

/* 배송지등록 */

.inputBox {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
}

.label {
  margin-top: 0.5rem;
  width: 100px;
  flex-shrink: 0;
}

.input {
  height: 2rem;
  border: 1px solid lightgray;
  max-width: 160px;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: black;
}

.inputs-addr {
  width: 100%;
}

.inputs-addr .input {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.inputs-addr .btn {
  padding: auto 0.5rem;
  height: 36px;
}

.inputs-addr .input:last-child {
  margin-bottom: 0;
}

.inputs-addr span {
  font-size: 0.85rem;
  color: gray;
  width: 60px;
}

.input-zonecode {
  max-width: 100px;
}

.input-address {
  max-width: 350px;
}

.inputs-phone {
  display: flex;
  align-items: center;
}

.inputs-phone span {
  margin: 0 4px;
}

.inputs-phone .input {
  max-width: 80px;
  width: 100%;
}

.check-inputBox {
  color: gray;
  align-items: center;
  justify-content: flex-end;
}

.check-inputBox input {
  margin-right: 0.5rem;
}

.add-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid lightgray;
  padding: 3rem 0;
}

.add-listBtn {
  font-size: 0.9rem;
  padding: 1rem 2rem;
}

.add-listBtn:first-child {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .tableCell {
    font-size: 0.8rem;
  }

  .tableCell.address {
    padding: 0.5rem 0;
  }

  .tableCell.address .media {
    display: flex;
  }

  .address-addressName {
    flex-direction: row;
  }

  .tableCell.addressName,
  .tableCell.picker,
  .tableCell.phone {
    display: none;
  }

  .listBtn {
    font-size: 0.8rem;
  }

  .desc ul li {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  /* 등록 / 수정 */
  .inputs-addr .btn,
  .inputs-addr li span {
    font-size: 0.75rem;
    flex-shrink: 0;
  }

  .label {
    width: 80px;
    font-size: 0.9rem;
  }
  .inputs-addr li {
    display: flex;
  }

  .inputs-addr li span {
    margin-top: calc(1rem - 0.325rem);
  }

  .check-inputBox label {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 480px) {
  .inputs-addr li span {
    display: none;
  }

  .inputs-phone span {
    visibility: hidden;
    margin: 0;
  }

  .listBtn {
    padding: 0.5rem;
  }

  .desc ul li {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}
