.wrapper {
  font-family: var(--product-font);
  margin-top: calc(-1.15rem - 10px);
}

.wrapper a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.title {
  font-size: 1.15rem;
  line-height: 1.15rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.title.underline {
  border-bottom: 2px solid black;
}

.wrapper section {
  margin-bottom: 5rem;
}

/* dataTable */
.table {
  font-size: 0.9rem;
}

.table-item {
  padding: 1rem 0.5rem;
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.table-item-title {
  width: 160px;
  flex-shrink: 0;
}

.table th,
.table td {
  font-family: var(--product-font);
  padding: 1rem 0;
}
.table th {
  font-weight: bold;
}
.tableCell {
  font-size: 0.85rem;
}

.tableCell.info {
  min-width: 260px;
}

.tableCell.info .mediaCell {
  display: none;
  border-top: 1px dotted lightgray;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
}

.order-info {
  display: flex;
}

.order-info-imgBox {
  width: 100px;
  padding: 0 10px;
  flex-shrink: 0;
}

.order-info-imgBox img {
  width: 100%;
  transition: 0.2s ease all;
}

.order-info-imgBox img:hover {
  opacity: 66%;
}

.order-info-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order-info-content .product-name {
  color: black;
  margin-bottom: 4px;
}

.order-info-content .product-option {
  color: gray;
  font-size: 0.8rem;
}

.tableCell.price {
  font-weight: bold;
  min-width: 75px;
}

.product-option.product-option-qty,
.product-option.product-option-price {
  display: none;
}

.tableCell.orderState {
  min-width: 75px;
}

.tableCell.refundState {
  min-width: 60px;
}

/* section, desc */
.section-desc {
  padding: 3rem 1rem;
  background-color: whitesmoke;
}

.desc-item {
  padding: 1rem 0;
}

.desc-item-title {
  color: black;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.desc-item-content {
  font-size: 0.8rem;
  color: gray;
  padding: 0 0.5rem;
}

.desc-item-content ul li {
  display: flex;
  line-height: 0.8rem;
  margin-bottom: 0.8rem;
  align-items: center;
}

.desc-num {
  border: 1px solid lightgray;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding: 2px 4px;
  margin-right: 0.5rem;
  background-color: lightsteelblue;
  color: white;
}

@media only screen and (max-width: 993px) {
  .wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.05rem;
  }

  /* dataTable */
  .table-item-title {
    width: 120px;
  }

  /* paymentOrderTable */
  .tableCell {
    font-size: 0.8rem;
  }

  .product-option.product-option-qty {
    display: block;
  }

  .tableCell.qty {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .product-option.product-option-price {
    display: block;
  }

  .tableCell.price {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .tableCell.orderState,
  .tableCell.refundState {
    display: none;
  }

  .tableCell.info .mediaCell {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 480px) {
  /* dataTable */
  .table-item-title {
    width: 100px;
  }

  /* paymentOrderTable */
  .tableCell {
    font-size: 0.75rem;
  }

  .order-info {
    flex-direction: column;
    align-items: center;
  }

  .order-info-imgBox {
    margin-bottom: 0.5rem;
  }

  .tableCell.info {
    min-width: 100px;
  }
}
