.wrapper {
  position: relative;
  font-family: var(--product-font);
  margin-bottom: 3rem;
  margin-top: calc(-1.15rem - 10px);
}

.wrapper a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.title {
  font-size: 1.15rem;
  line-height: 1.15rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.title.underline {
  border-bottom: 2px solid black;
}

.title span {
  color: gray;
  font-size: 0.95rem;
}

/* 주문처리현황 */

.orderState {
  margin-bottom: 3rem;
}

.process {
  margin: 1.5rem 0;
  padding: 3rem 0;
  background-color: whitesmoke;
}

.process ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.process-item {
  text-align: center;
}

.process-item-title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.process-item-num {
  font-size: 1.3rem;
}

.process .blank {
  color: gray;
}

.process .blank svg {
  color: inherit;
}

@media only screen and (max-width: 993px) {
  /* table */
  .wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.05rem;
  }
  .title span {
    font-size: 0.85rem;
  }

  .process-item-title {
    font-size: 0.8rem;
  }
  .process-item-num {
    font-size: 1.2rem;
  }
}
