.wrapper {
  position: relative;
  font-family: var(--product-font);
  margin-bottom: 3rem;
}

.wrapper a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.title {
  font-size: 1.15rem;
  line-height: 1.15rem;
  font-weight: bold;
  padding: 10px 0;
}

.title.absolute {
  padding: 0;
  position: absolute;
  margin-top: calc(-1.15rem - 13px);
}

.title span {
  color: gray;
  font-size: 0.95rem;
}

/* 주문처리현황 */

.orderState {
  padding: 1.5rem 0;
  margin-bottom: 3rem;
}

.process {
  padding: 3rem 0;
  background-color: whitesmoke;
}

.process ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.process-item {
  text-align: center;
}

.process-item-title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.process-item-num {
  font-size: 1.3rem;
}

.process .blank {
  color: gray;
}

.process .blank svg {
  color: inherit;
}

/* 주문내역 */

.orderList {
  border-top: 3px solid black;
}

.table th,
.table td {
  font-family: var(--product-font);
  padding: 1rem 0;
}
.table th {
  font-weight: bold;
}
.tableCell {
  font-size: 0.85rem;
}

.tableCell.id {
  min-width: 180px;
}

.tableCell.id.head .order-id {
  flex-direction: row;
}
.tableCell.id.head .order-id span:first-child {
  margin-right: 4px;
}

.order-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableCell.info {
  min-width: 260px;
}

.tableCell.info .mediaCell {
  display: none;
  border-top: 1px dotted lightgray;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
}

.order-info {
  display: flex;
}

.order-info-imgBox {
  width: 100px;
  padding: 0 10px;
  flex-shrink: 0;
}

.order-info-imgBox img {
  width: 100%;
  transition: 0.2s ease all;
}

.order-info-imgBox img:hover {
  opacity: 66%;
}

.order-info-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order-info-content .product-name {
  color: black;
  margin-bottom: 4px;
}

.order-info-content .product-option {
  color: gray;
  font-size: 0.8rem;
}

.tableCell.price {
  font-weight: bold;
  min-width: 75px;
}

.product-option.product-option-qty,
.product-option.product-option-price {
  display: none;
}

.tableCell.orderState {
  min-width: 75px;
}

.tableCell.refundState {
  min-width: 60px;
}

@media only screen and (max-width: 1200px) {
  .product-option.product-option-qty {
    display: block;
  }

  .tableCell.qty {
    display: none;
  }
}

@media only screen and (max-width: 993px) {
  /* table */
  .title.absolute {
    margin-left: 120px;
    transform: translateY(-6px);
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.05rem;
  }
  .title span {
    font-size: 0.85rem;
  }

  .process-item-title {
    font-size: 0.8rem;
  }
  .process-item-num {
    font-size: 1.2rem;
  }

  /* table */
  .tableCell {
    font-size: 0.8rem;
  }
  .tableCell.id.head .order-id {
    flex-direction: column;
  }
  .tableCell.id {
    min-width: 100px;
  }
  .product-option.product-option-price {
    display: block;
  }
  .tableCell.price,
  .tableCell.orderState,
  .tableCell.refundState {
    display: none;
  }

  .tableCell.info .mediaCell {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 480px) {
  .title span {
    display: none;
  }

  .title.absolute {
    margin-left: 50px !important;
  }

  /* table */
  .tableCell {
    font-size: 0.75rem;
  }

  .title.absolute {
    margin-left: 120px;
    transform: translateY(-6px);
  }

  .order-info {
    flex-direction: column;
    align-items: center;
  }

  .order-info-imgBox {
    margin-bottom: 0.5rem;
  }

  .tableCell.info {
    min-width: 100px;
  }
}
