.wrapper {
  max-width: var(--header-maxWidth);
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  font-family: var(--product-font);
}

.wrapper a {
  color: inherit;
  text-decoration: inherit;
}

.heading {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.wrapper h2 {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 0;
}

.content {
  border-top: 3px solid black;
  width: 100%;
}

/* 담긴 상품 */
.tag-container ul {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.basic {
  width: 100px;
  text-align: center;
  flex-shrink: 0;
}

.epic {
  min-width: 100px;
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  min-height: 150px;
  height: 100%;
  padding: 0.5rem 0;
}

.product-img {
  width: 100px;
  padding: 0 10px;
}

.product-img img {
  width: 100%;
  cursor: pointer;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.product-info .product-name {
  cursor: pointer;
}

.product-info .product-option,
.product-info .product-change {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: gray;
}

.product-info .product-change {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease all;
}

.product-info .product-change:hover {
  color: black;
}

.product-qty {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-qty button {
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border: 1px solid lightgray;
  font-size: 1rem;
  line-height: 1rem;
  background-color: inherit;
  transition: 0.2s ease all;
}

.product-qty button:hover {
  border-color: black;
}

.product-select {
  display: flex;
  flex-direction: column;
}

.product-select button {
  border: 1px solid lightgray;
  background-color: inherit;
  padding: 6px 0;
  margin-bottom: 3px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.product-select button:hover {
  border-color: black;
}

.product-select button:last-child {
  margin-bottom: 0px;
}

/* 상품 컨트롤 */
.controls-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls-container > * :first-child {
  margin-right: 6px;
}

.controls-container button {
  border: 1px solid lightgray;
  background-color: inherit;
  padding: 0.5rem;
  margin-bottom: 3px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.controls-container button:hover {
  border-color: black;
}

.pay {
  margin: 6rem 0;
  width: 100%;
}

.pay-priceBox {
  width: 100%;
  min-height: 160px;
  height: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pay-priceBox span {
  font-size: 1.6rem;
  margin: 0 1rem;
}

.pay-price-item {
  margin: 0 1rem;
  text-align: center;
}

.pay-price-item h3 {
  margin-bottom: 0.5rem;
}

.pay-price-item span {
  margin: 0;
}

.pay-btnBox {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pay-btn {
  border: 1px solid lightgray;
  background-color: inherit;
  width: 120px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.2s ease all;
}

.pay-btn:hover {
  border-color: black;
}

.pay-btn-white {
  background-color: inherit;
  color: black;
}

.pay-btn-black {
  background-color: black;
  color: white;
}

.media2-b,
.media3-b {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .wrapper {
    padding: 3rem;
  }
}

@media only screen and (max-width: 993px) {
  .media1 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .media2-b {
    display: block;
  }

  .media2-n {
    display: none;
  }

  .basic:last-child {
    width: 80px;
  }

  .product-info {
    align-items: flex-start;
    transform: scale(90%);
  }

  .pay-price-item,
  .pay-btnBox span,
  .pay-btn {
    margin: 0;
    transform: scale(80%);
  }
}

@media only screen and (max-width: 480px) {
  .media3-n {
    display: none;
  }

  .media3-b {
    margin-top: 1rem;
    display: block;
    flex-direction: row;
  }

  .media3-b button {
    padding: 4px;
  }

  .media3-b button:first-child {
    margin-right: 4px;
  }

  .pay-priceBox > * {
    display: none;
  }

  .pay-price-item:last-child {
    display: block;
  }
}
