@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
.main {
  padding-top: var(--header-height);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 10;
  background-color: var(--header-background);
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
  box-sizing: border-box;
}

.pre-header {
  font-size: 0.9rem;
  box-sizing: border-box;
  width: 100%;
  height: var(--preHeader-height);
  line-height: 30px;
  background-color: var(--preHeader-background);
}

.pre-header ul {
  max-width: var(--header-maxWidth);
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pre-header span {
  position: relative;
  width: 2px;
  height: 0.7rem;
  background-color: gray;
  margin: 0 0.5rem;
}

.pre-header ul li a {
  text-decoration: none;
  color: var(--header-mainColor);
}

.pre-header ul li a:hover {
  color: var(--header-subColor);
}

.container {
  box-sizing: border-box;
  margin-top: 6px;
  margin: 0 auto;
  width: 100%;
  max-width: var(--header-maxWidth);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-family: 'Keania One', cursive;
  font-size: 3.5rem;
  text-decoration: none;
  color: var(--header-mainColor);
}

.menu {
  min-width: 550px;
  width: 100%;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.member {
  color: var(--header-subColor);
}

.member ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member ul li {
  margin: 0 0.5rem;
}

.member .cart,
.member .drawer {
  margin-right: 0;
}

.member ul li:hover {
  cursor: pointer;
}

.member ul li svg {
  width: 2rem;
  height: 2rem;
}

.member .drawer {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .pre-header,
  .container {
    padding: 0 1rem;
  }
}

/* Medium Devices, Desktops : ~ 992px */
@media only screen and (max-width: 992px) {
  .main {
    padding-top: var(--header-height);
  }

  .header {
    height: var(--header-height);
  }

  .pre-header {
    display: none;
  }

  .menu {
    display: none;
  }

  .member .search-wrapper {
    min-width: 0;
    background-color: var(--header-background);
  }

  .member .search-wrapper .search-input {
    display: none;
  }

  .member .wishlist {
    display: none;
  }

  .member .cart {
    margin-right: 0.5rem;
  }

  .member .drawer {
    display: block;
  }
}
