.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--product-font);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  max-width: 450px;
  width: 100%;
  min-width: 320px;
  background-color: whitesmoke;
  padding: 4rem 2rem;
}

.title {
  font-size: 2rem;
  margin: 3rem 0;
}

.logo {
  font-family: var(--logo-font);
}

.btn {
  background-color: rgb(5, 5, 5);
  color: white;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  border: 1px solid lightgray;
  transition: 0.2s ease all;
  cursor: pointer;
}

.btn:hover {
  border-color: black;
}
