.wrapper {
  width: 320px;
  padding: 2rem;
  transition: ease-in-out 0.3s all;
}

.hide {
  transform: translateX(-320px);
}

.wrapper a {
  text-decoration: none;
}

.closeBtn {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  transition: all 0.5s ease;
}

.closeBtn:hover {
  transform: rotate(180deg);
}

/* Product Menu Group */
.menu {
  margin: 1rem 0;
}

.menu ul {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu ul li {
  width: 240px;
  margin: 0.5rem 0;
}

.menu ul li:after {
  content: '❯';
  float: right;
}

.menu ul li:hover {
  cursor: pointer;
}

/* User Group */
.user {
  margin: 2rem 0;
}

.user .user-desc {
  padding: 1rem 0;
  color: rgb(80, 80, 80);
}

/* User Button */
.user .userBtn-wrapper .userBtn {
  border: 1px solid lightgray;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 16px;
  transition: ease 0.2s all;
  cursor: pointer;
}

.userBtn:first-child {
  margin-right: 1rem;
}

.user .userBtn-wrapper .userBtn:hover {
  border-color: black;
}

.registerBtn {
  background-color: rgb(5, 5, 5);
  color: white;
}

.loginBtn {
  color: black;
  background-color: white;
}

/* Member Group */
.member {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-weight: 600;
  padding: 1rem 0;
}

.memberBtn {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.memberBtn:last-child {
  margin-bottom: none;
}

.memberBtn:hover {
  cursor: pointer;
}

.memberBtn span {
  margin-left: 1rem;
  font-size: 1.1rem;
}

.subMenu {
  padding: 3rem 2rem;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(320px);
  transition: ease-in-out 0.3s all;
}

.subMenu ul {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.subMenu h2 {
  margin: 0.5rem 0 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.subMenu h2:hover {
  cursor: pointer;
}

.subMenu h2::before {
  content: '❮';
  margin-right: 1rem;
}

.subMenu ul li {
  margin: 0.5rem 0 0.5rem 2rem;
}

.subMenu ul li a {
  color: black;
  text-decoration: none;
}

.subMenu ul li:hover {
  cursor: pointer;
}

.show {
  transform: translateX(0);
}
