.wrapper {
  font-family: var(--product-font);
  max-width: var(--header-maxWidth);
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}

.wrapper a,
.drawFilter a {
  color: inherit;
  text-decoration: inherit;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 0;
}

.title-underline {
  border-bottom: 3px solid black;
}

.main {
  clear: both;
  display: flex;
}

.filter {
  min-width: 220px;
  width: 220px;
  margin-right: 4rem;
}

.drawFilter {
  margin: 2rem 40px;
  min-width: 300px;
  height: 100vh;
}

.content {
  width: 100%;
}

.content .title {
  position: relative;
}

.content .filter-media {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 30px;
  border: none;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: ease 0.1s all;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: none;
}

.filter-media:hover {
  filter: brightness(90%);
}

.menu {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  height: 60px;
}

.menu-nav {
  position: relative;
  padding: 0 30px;
  height: 100%;
}

.menu-nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.menu-nav ul::-webkit-scrollbar {
  display: none;
}

.menuBtn {
  color: gray;
  position: absolute;
  top: 0;
  width: 30px;
  height: 60px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.menuBtn:hover {
  color: black;
}

.menuBtn svg {
  color: inherit;
}

.menuBtn.menuBtn-left {
  left: 0;
}

.menuBtn.menuBtn-left svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.menuBtn.menuBtn-right {
  right: 0;
}

.menuBtn.menuBtn-right svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.menu-nav-item {
  cursor: pointer;
  margin: 0 10px;
  flex-shrink: 0;
}

.menu-nav-itemSelect,
.menu-nav-item:hover {
  color: black;
}

.menu-normal {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-normal-item {
  border-left: 1px solid lightgray;
  height: 100%;
  line-height: 60px;
  text-align: center;
  width: 115px;
}

.popover {
  border: 1px solid lightgray;
}

.popover li {
  margin: 1rem 0;
  text-align: center;
  color: gray;
  font-family: var(--product-font);
  cursor: pointer;
}

.popover li:hover {
  color: black;
}

.menu-normal-item.count::after {
  content: ' items';
}

.product-container {
  margin: 3rem 0;
}

@media only screen and (max-width: 1500px) {
  .wrapper {
    padding: 1rem 40px;
  }
}

@media only screen and (max-width: 992px) {
  .menu,
  .preMenu,
  .filter {
    display: none;
  }
  .product-container {
    margin-top: 1.5rem;
  }
  .content .filter-media {
    display: inline-block;
  }
}
