.wrapper {
  margin: 0 auto;
  font-family: var(--product-font);
  max-width: calc(var(--header-maxWidth) + 6rem);
  padding: 0 3rem;
}

.head {
  margin: 3rem 0 2rem 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.container {
  display: flex;
}

.nav {
  min-width: 180px;
  width: 180px;
  margin-right: 40px;
}

.drawer {
  width: 160px;
  margin: 0 3rem;
  margin-top: 120px;
}

.subTitle {
  font-weight: bold;
  font-size: 1.15rem;
  padding: 10px 0;
  width: 100%;
}

.underline {
  border-bottom: 3px solid black;
}

.content {
  width: 100%;
}

.content .subTitle {
  position: relative;
  margin-top: 1.15rem;
}

.content .subTitle button {
  transform: translateY(-20px);
  position: absolute;
}

.drawerBtn {
  position: relative;
  border: 1px solid lightgray;
  background-color: inherit;
  margin-top: -10px;
  cursor: pointer;
  transition: 0.2s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  visibility: hidden;
}

.drawerBtn span {
  margin-top: 1px;
}

.drawerBtn:hover {
  border-color: black;
}

@media only screen and (max-width: 993px) {
  .nav {
    display: none;
  }
  .nav.drawer {
    display: block;
  }
  .drawerBtn {
    visibility: visible;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2.35rem;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 2.2rem;
  }

  .drawerBtn span {
    display: none;
  }
}
