.wrapper {
  margin: 0 auto;
  font-family: var(--product-font);
  max-width: calc(var(--header-maxWidth) + 6rem);
  padding: 0 3rem;
}

.head {
  margin: 3rem 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
}

.nav {
  max-width: 180px;
  width: 100%;
  margin-right: 1rem;
}

.subTitle {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 0;
}

.underline {
  border-bottom: 3px solid black;
}
