.container {
  cursor: default;
}

.container > ul {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.container .title {
  padding: 0.5rem 0;
  width: 100px;
  flex-shrink: 0;
  font-weight: bold;
  text-align: center;
}

.container .itemList {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container .item {
  padding: 0.5rem 0;
  position: relative;
  width: 100px;
  text-align: left;
  margin-left: 20px;
}

.container .item span {
  position: absolute;
  top: 52%;
  left: -16px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid black;
}
