.container {
  min-width: 800px;
  width: 80%;
  margin: 3rem auto;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin: 0 0.5rem;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  text-decoration: underline;
}
